/* Phân tích 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

#main {}

#header {

    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    position: fixed;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav {
    display: inline-block;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
    background-color: #ccc;
    color: #000;
}

#nav li {
    display: block;
    position: relative;
}

#nav>li {
    display: inline-block;
}

#nav .subnav {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    display: none;
    position: absolute;
}

#nav .subnav a {
    color: #000;
    display: block;
}

.search {
    float: right;
    padding: 0 24px;
}

.search-icon {
    color: #fff;
}

.search .ti-search {
    line-height: 46px;
}

.search:hover {
    background-color: #f44336;
    color: #fff;
}

#slider {
    padding-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    padding: 32px 16px;
    position: relative;
    /* /* width: 100%;* */
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading {
    color: #fff;
}

#slider .text-description {
    color: #fff;
    margin-top: 25px;
}

#content {
    
}

#content .content-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
#content .section-heading{
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    opacity: 0.6;
    font-style: italic;
    padding: 25px 0 15px 0;
    text-align: center;
}
#content .about-text{
    text-align: justify;
}

#content .member-list{
    margin-top: 48px;
}

#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    text-align: center;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#footer {}